* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lora';
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    height: 100%;
}


header {
    width: 100%;
    height: 80px;
    background: #04336d;
    position: relative;
}

header .header-logo {
    line-height: 2px;
    float: left;
    display: block;
}

.header-logo img {
    position: absolute;
    width: 210px;
    height: 80px;
    top: 0;
}

header nav ul{
    display: block;
    margin: 0 auto;
    width: fit-content;
    line-height: 75px;
    float: right;
    padding-right: 130px;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    padding-right: 5px;
}

header nav ul li a{
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

 .toggle {
    width: 100%;
    text-align: right;
    font-size: 25px;
    display: none;
}

#bar {
    color: #ffffff;
    background: transparent;
    padding: 0px 10px;
}

@media only screen and (max-width: 1000px) {
 
    header .header-logo {
        font-size: 22px;
        font-weight: 800;
        width: 100%;
        margin: 0 auto;
        padding: 0px;
    }
    
    .toggle {
        display: block;
    }

    header nav ul{
        width: 100%;
        display: none;
        padding-right: 0px;
        padding-top: 20px;
    }

    header nav ul li {
        display: block;
        text-align: center;
    }

    header nav ul li a{
        color: rgb(53, 53, 53);
    }

    .active {
        display: block;
    }

}

.main-banner {
    max-width: 100%;
    padding: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('marche_background.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: rgba(black, black, black, .7);
}


.header-banner h1 {
    font-family: 'Lora';
    font-size: 3em;
    font-weight: 600;
    color: #ffffff;
    margin: 0 auto;
    text-shadow: 2px 2px 2px rgb(36, 36, 36);
}


/*Attractions Section*/

#container-gray {
    background-color: rgb(233, 233, 233);
}

.section-container {
    width: 100%;
    min-height: 90vh;
    margin-top: 30px;
}

.section-header h2 {
    margin: 0 auto;
    padding-top: 20px;
    width: fit-content;
    font-family: 'Lora';
    font-size: 2em;
    font-weight: 600;
    color:  rgb(41, 41, 41);
    padding-bottom: 2.5em;
    letter-spacing: 0.1em;
}

.section-elements {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.section-elements-content {
    width: 500px;
    font-size: 17px;
    padding: 15px;
}

.section-elements-content .gallery-img {
    width: 100%;
    height: 250px;
    flex-basis: 250px;
    padding: 15px 55px;
    justify-content: space-around;
    border-radius: 14%;
}


.gallery-img:hover {
    opacity: .7;
    transition: .7s;
}

.section-elements-content h3, p {
    padding: 7px 42px 0px 53px;
}



.request-button {
    width: fit-content;
    margin: 3em auto;
    
}

.request-button a {
    border: 2px solid #f3f3f3;
    background-color: #04336d;
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    font-size: 1.3em;
    line-height: 100px;
    text-align: center;
    padding: 0.2em 0.7em;
    transition: 0.3s ease-in-out;
}

.request-button a:hover {
    opacity: .8;
}

@media screen and (max-width: 400px) {
    .section-header h2 {
        letter-spacing: normal;
        padding-bottom: 2em;
    }

    .section-container {
        min-height: 70vh;
    }
}

/*About Page*/

.about-banner {
    max-width: 100%;
    padding: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('marche-sunset.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: rgba(black, black, black, .7);
}

.content-section {
    margin: 10em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 4em 1.5em;
}
.section-about-header {
    font-weight: bold;
    letter-spacing: 0.1em;
    color: rgb(41, 41, 41);
    text-align: center;
    font-size: 2.5em;
    padding-bottom: 2em;
}

.about-band-image {
    float: left;
    height: 250px;
    width: 250px;
    margin: 15px;
    border-radius: 50%;
}

@media only screen and (max-width: 500px) {
    .about-band-image{
    margin-left: 3em;
    }
}

/*Contacts Page*/

.contacts-banner {
    max-width: 100%;
    padding: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('marche-countryside.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    ;
}

.section-elements-contact {
    width: fit-content;
    font-size: 17px;
    padding: 3em;
}

.section-elements-contact h3 {
    padding-bottom: 1em;
}

.section-elements-contact a {
    padding-bottom: 1em;
}

.section-elements-contact-details {
    padding-bottom: 1em;
}

.section-elements-contact-details p {
    padding-left: 2px;
}

@media only screen and (max-width: 400px) {
    .section-elements-contact {
        padding: 1.5em;
    }
}


/*Footer*/

.footer-container {
    width: 100%;
    min-height: 30px;
    background-color: #04336d;
    padding-top: 30px;
}

.footer-logo {
    width: fit-content;
    margin: 0 auto;
    
}

.footer-logo img {
    width: 230px;
    height: 100px;
}

@media screen and (max-width: 400px) {
    .footer-logo {
        display: none;
    }
}

.footer-section {
    width: 100%;
}

.footer-section ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

.footer-section ul li {
    display: inline-block;
    list-style: none;
    padding: 60px 90px;
}

.footer-section ul li a{
    font-family: 'Lora';
    font-size: 13px;
    font-weight: 400;
    color: #f5f3f3;
    text-transform: uppercase;
}

@media only screen and (max-width: 1000px) {
    .footer-section ul li {
        display: block;
        list-style: none;
        padding: 20px 90px;
    }
    
}

/* Style all font awesome icons */

.footer-media-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-media-section a {
    font-size: 20px;
    line-height: 40px;
}

.fa {
    
    margin: 0px 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    color: rgb(51, 51, 51);
    background: #f5f3f3;
    text-align: center;
    border-radius: 50%;
    line-height: 100px;
  }
  
  .fa:hover {
    opacity: 0.7;
  }


.footer-copyright {
    padding: 50px 0px 10px 0px;
    display: block;
    margin: 0 auto;
    width: fit-content;
    color: #f5f3f3;
}
